<div class="background">
  <div class="container">
    <h1>ABOUT</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Pellentesque massa
      placerat duis ultricies lacus sed. Mattis nunc sed blandit libero. Arcu
      vitae elementum curabitur vitae nunc sed velit dignissim sodales. Purus
      gravida quis blandit turpis cursus in hac habitasse. Purus non enim
      praesent elementum facilisis leo vel fringilla. Ac turpis egestas integer
      eget aliquet nibh praesent. Egestas diam in arcu cursus euismod quis.
      <br />
      Dignissim suspendisse in est ante. Augue eget arcu dictum varius duis at
      consectetur lorem. Quam viverra orci sagittis eu volutpat. Ornare lectus
      sit amet est placerat in. Phasellus faucibus scelerisque eleifend donec
      pretium vulputate sapien nec. Et molestie ac feugiat sed lectus
      vestibulum. Vel pretium lectus quam id leo in vitae turpis massa.
    </p>
  </div>
</div>
